#contact {
    text-align: center;
    background: #273db0;
    padding: 4rem 0;

    h2 {
        margin-bottom: 2rem;
    }

    a {
        font-size: 1rem;
        color: $shade1;
        display: inline-block;
        vertical-align: middle;
        padding: 0.25rem 1rem;

        @media screen and (min-width: 992px) {
            font-size: 1.5rem;
        }

        &:hover {
            color: $yellow;
        }
    }

    .icon {
        display: inline-block;
        margin-top: 5px;
        vertical-align: middle;;
        line-height: 1;

        svg {
            height: 24px;
            width: 24px;
            margin-right: 0.25rem !important;
            fill: $yellow !important;
        }
    }
}
