#introduction {
    display: flex;
    min-height: calc(100vh - #{$top-bar-height});
    align-items: center;
    padding: 2rem 1rem;

    .personal h3 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .interest-list {
        text-align: center;

        li {
            display: inline-block;
            padding: 0.5rem 1rem;
            margin: 0.5rem 1rem;
            border-radius: 32px;
            border: 1px solid $border-color;
            font-size: 0.9rem;
        }
    }
}
