#posts {
    background: #2B323E;

    &.archive {
        background: none;

        .row a {
            color: $shade1;
            display: block;
            padding: 1rem;
            height: 100%;

            article {
                height: 100%;
                background: #2B323E;

                section,
                footer {
                    padding: 1rem;
                }

                footer {
                    font-size: 0.85rem;
                }
            }
        }
    }
}

.explore-more-link {
    margin: 1rem 0;

    .icon svg {
        height: 16px;
        width: 16px;
        margin-left: 0.5rem;
        display: inline-block;
        line-height: 1;
        vertical-align: top;
        margin-top: 5px;
        fill: $cyan;
    }

    &:hover .icon svg {
        fill: $shade3;
        transform: translateX(0.5rem);
    }
}

#posts-list {
    a {
        color: $shade1;
        padding: 1rem 2rem 1rem 0rem;
        position: relative;
        display: block;
        border-bottom: 1px solid #515D68;


        section.read-more-icon {
            position: absolute;
            top: 0.5rem;
            right: 0rem;
            font-size: 1.25rem;
            transition: .12s ease-in-out;

            .icon svg {
                fill: $cyan;
                height: 16px;
                width: 16px;
            }
        }

        &:hover {
            .read-more-icon {
                right: -0.5rem;
            }

            header h3 {
                color: $cyan;
            }
        }

        header {
            h3 {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 0.5rem;
                transition: .2s ease-in-out;
            }
        }

        footer {
            font-size: 0.9rem;
            color: $shade3;
        }

        &.active {
            &:after {
                content: none;
            }

            header h3 {
                color: $yellow;
            }
        }
    }

    &.medium a header h3 {
        font-size: 1.25rem;
        font-weight: 500;
    }
}

#post {
    padding-bottom: 5rem;
    padding-top: 2rem;

    section {
        .post-content {
            display: grid;
            grid-template-columns: 1fr 1fr min(65ch, 100%) 1fr 1fr;
            font-size: 1.1rem;
            color: $shade1;

            > * {
                grid-column: 3;
            }

            .image {
                grid-column: 2 / 5;
                text-align: center;
                margin: 1rem 0 1.5rem;
            }

            a {
                text-decoration: underline;
            }

            ul {
                margin-bottom: 2rem;
                padding-left: 1.5rem;

                li {
                    list-style: square;
                    display: block;
                    margin: 0.5rem 0;
                    position: relative;

                    &:before {
                        content: url('/img/caret.png');
                        height: 16px;
                        width: 16px;
                        position: absolute;
                        left: -1.6rem;
                        top: 2px;
                    }
                }
            }

            ol {
                margin-bottom: 2rem;
                padding-left: 1.5rem;

                li {
                    list-style: decimal;
                    margin: 0.5rem 0;
                    position: relative;
                }
            }
        }

        > * {
            grid-column: 3;
        }

        .full-bleed {
            grid-column: 1 / -1;
        }
    }

    footer .icon svg {
        height: 20px;
        width: 20px;
        margin-right: 0.5rem;
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
    }
}

.pagination {
    margin: 0 -1rem;

    li {
        display: inline-block;
        margin-right: 1rem;

        > span,
        a {
            display: block;
            padding: 1rem;
        }

        .icon svg {
            height: 16px;
            width: 16px;
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            margin-bottom: 3px;
        }

        &.prev .icon {
            margin-right: 0.5rem;
        }

        &.next .icon {
            margin-left: 0.5rem;
        }
    }
}
