#services {
    background: #2B323E;
}

#service-boxes {
    margin-top: 2rem;

    .row > * {
        padding: 1rem;

        .inner {
            text-align: center;
            padding: 1rem;
            background: #313A4A;

            .icon svg {
                height: 72px;
                width: 72px;
                fill: $yellow;
                margin: 2rem 0;
            }
        }
    }
}
