#services {
    background: #2B323E;
}

#service-boxes {
    margin-top: 2rem;

    .row > * {
        padding: 1rem;

        .inner {
            text-align: center;
            padding: 1rem;
            background: #313A4A;

            i.fa {
                font-size: 4rem;
                font-weight: 300;
                margin: 2rem 0;
            }
        }
    }
}
