#showcases {
    &.on-single-page {
        background: #2B323E;
    }

    .showcase-container {
        padding: 1rem;

        .showcase {
            overflow: hidden;
            background: #2B323E;
            transition: transform .12s ease-in-out;
            cursor: pointer;
            position: relative;

            img {
                display: block;
                transition: .12s ease-in-out;
            }

            &:hover {
                img {
                    transform: scale(1.3);
                    -webkit-transform: scale(1.3);
                    filter: blur(1rem);
                }

                &:after {
                    width: 100%;
                }

                .content {
                    opacity: 1;
                    filter: blur(0);
                }
            }

            &:after {
                content: "";
                width: 0;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                bottom: -3px;
                height: 3px;
                background: $cyan;
                transition: .2s ease-in-out;
            }

            .content {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 1rem;
                opacity: 0;
                filter: blur(1rem);
                transition: .12s ease-in-out;
                top: 0;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                background: rgba(39, 43, 59, 0.65);

                h4 {
                    color: #FFF;
                    margin-bottom: 1rem;
                    flex: 0 0 100%;
                    text-align: center;
                }

                .tag {
                    background: rgba(39, 43, 59, 0.85);
                }
            }
        }
    }
}

.tag {
    display: inline-block;
    margin: 0.25rem;
    padding: 0.1rem 0.75rem;
    background: rgba(13, 13, 29, 0.2);
    border-radius: 24px;
    color: $shade3;
    font-size: 0.85rem;
}

#showcase {
    padding-top: 2rem;
    padding-bottom: 5rem;

    section {
        .tags {
            box-sizing: border-box;
            text-align: center;
            margin-bottom: 2rem;

            > .tag {
                margin: 0 0.5rem;
            }
        }

        .showcase-content {
            display: grid;
            grid-template-columns: 1fr 1fr min(65ch, 100%) 1fr 1fr;
            font-size: 1.1rem;
            color: $shade1;
            
            > * {
                grid-column: 3;
            }

            ul {
                margin-bottom: 2rem;
                padding-left: 1.5rem;

                li {
                    list-style: square;
                    display: block;
                    margin: 0.5rem 0;
                    position: relative;

                    &:before {
                        content: url('/img/caret.png');
                        height: 16px;
                        width: 16px;
                        position: absolute;
                        left: -1.6rem;
                        top: 2px;
                    }
                }
            }

            .image {
                text-align: center;
                grid-column: 2 / 5;
                margin: 1.5rem 0 2.5rem;
                position: relative;

                &.image-style-align-left {
                    grid-column: 2 / 4;
                }

                &.image-style-align-right {
                    grid-column: 3 / 5;
                }

                img {
                    display: block;
                }

                figcaption {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    display: block;
                    width: 100%;
                    background: rgba(34, 40, 49, .85);
                    color: $shade1;
                    padding: 1rem 1rem;
                    box-sizing: border-box;
                    z-index: 5;
                }
            }
        }

        > * {
            grid-column: 3;
        }

        .full-bleed {
            grid-column: 1 / -1;
        }
    }
}
