$yellow: #FFC661;
$cyan: #14d9e3;

$shade1: #DCE0E6;
$shade2: #AEBDCB;
$shade3: #91A2B1;

$border-color: #364357;

$paragraph-font: "Fira Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue";
$title-font: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue";

$top-bar-height: 75px;
