html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  background: #222831;
}

body {
  color: #ADBBCC;
  font-size: 14px;
  font-family: "Fira Sans", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue";
}
@media screen and (min-width: 992px) {
  body {
    font-size: 16px;
  }
}

body, p {
  line-height: 1.8;
}

p {
  padding-bottom: 1.5rem;
}
p:last-of-type {
  padding-bottom: 0;
}

a,
a:visited {
  color: #14d9e3;
  text-decoration: none;
  transition: 0.12s ease-in-out;
}
a:hover,
a:visited:hover {
  color: #AEBDCB;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue";
  font-weight: 500;
  color: #FFF;
  line-height: 1.2;
}

h3, h4 {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 2.8rem;
    margin-bottom: 1.7rem;
  }
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 992px) {
  h3 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
}

h4 {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 992px) {
  h4 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }
}

b, strong {
  font-weight: bold;
  color: #FFC661;
}

i, em {
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

blockquote {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
  border-left: 4px solid #FFC661;
  color: #AEBDCB;
  font-style: italic;
}

.section-title {
  color: #91A2B1;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.section-title .icon svg {
  width: 18px;
  height: 18px;
  fill: #FFC661;
  margin-right: 0.25rem;
}

.section-container {
  padding: 2rem 0;
}
.section-container h3 {
  color: #fff;
  font-size: 1.5rem;
}
@media screen and (min-width: 992px) {
  .section-container {
    padding: 5rem 0;
  }
}

hr {
  margin: 2rem 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  border: 0;
}

.icon svg {
  width: 24px;
  height: auto;
  fill: #91A2B1;
  transition: 0.12s ease-in-out;
}
.icon svg:hover {
  fill: #DCE0E6;
}

.back-to-frontpage {
  margin-bottom: 1rem;
  display: inline-block;
}
.back-to-frontpage .icon svg {
  height: 20px;
  width: 20px;
  margin-right: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

pre {
  margin-bottom: 1.2rem !important;
  background: #2B323E !important;
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #AEBDCB;
}

.hamburger-box {
  width: 32px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 32px;
  height: 4px;
  background-color: #AEBDCB;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

.text-secondary {
  color: #FFC661 !important;
}

.text-muted {
  color: #91A2B1 !important;
}

.text-gray {
  color: #AEBDCB !important;
}

body {
  padding-top: 75px;
}

#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #222831;
  height: 75px;
  z-index: 99;
}
#top-bar #logo {
  height: 75px;
  display: flex;
  align-items: center;
  flex: 0 0 48px;
}
#top-bar nav {
  margin-top: 3rem;
}
@media screen and (min-width: 992px) {
  #top-bar nav {
    margin: 0;
  }
}
#top-bar nav ul li {
  display: block;
  line-height: 1.5;
  height: auto;
  padding: 2rem 0;
  text-align: center;
}
@media screen and (min-width: 992px) {
  #top-bar nav ul li {
    display: inline-block;
    line-height: 75px;
    height: 75px;
    padding: 0;
  }
}
#top-bar nav ul li a {
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue";
  font-size: 1.5rem;
  font-weight: 500;
  display: block;
  padding: 0 1rem;
  color: #91A2B1;
  box-sizing: border-box;
}
@media screen and (min-width: 992px) {
  #top-bar nav ul li a {
    font-size: 1rem;
  }
}
#top-bar nav ul li a.active {
  color: #DCE0E6;
}
#top-bar nav ul li a:hover {
  color: #DCE0E6;
}
#top-bar nav ul li a .fa,
#top-bar nav ul li a .fab {
  font-size: 1.25rem;
}
#top-bar #social-media-menu {
  text-align: center !important;
  justify-content: center;
  margin-top: 3rem;
}
@media screen and (min-width: 992px) {
  #top-bar #social-media-menu {
    margin-top: 0;
  }
}
#top-bar #social-media-menu ul li {
  padding: 0;
  display: inline-block;
}
#top-bar #social-media-menu ul li a {
  padding: 1rem;
}
#top-bar #social-media-menu ul li a .icon svg {
  max-width: 18px;
  height: 18px;
}
#top-bar #social-media-menu ul li a:hover .icon svg {
  fill: #DCE0E6;
}
@media screen and (min-width: 992px) {
  #top-bar #social-media-menu ul li a {
    padding: 0 1rem;
  }
}
#top-bar #menu-wrapper {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  left: auto;
  bottom: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 2rem;
  background: rgba(43, 40, 49, 0.92);
  margin: 0 !important;
  transition: 0.22s ease-in-out;
  opacity: 0;
  filter: blur(1rem);
  overflow: auto;
}
#top-bar #menu-wrapper.is-open {
  right: 0;
  left: auto;
  opacity: 1;
  filter: none;
}
@media screen and (min-width: 992px) {
  #top-bar #menu-wrapper {
    position: inherit;
    top: auto;
    right: auto;
    bottom: auto;
    height: auto;
    padding: inherit;
    background: transparent;
    opacity: 1;
    filter: none;
    display: flex;
    overflow: visible;
  }
  #top-bar #menu-wrapper.is-open {
    right: auto;
  }
}
#top-bar #toggle-menu {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  z-index: 1000;
}
@media screen and (min-width: 992px) {
  #top-bar #toggle-menu {
    display: none;
  }
}

#introduction {
  display: flex;
  min-height: calc(100vh - 75px);
  align-items: center;
  padding: 2rem 1rem;
}
#introduction .personal h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
#introduction .interest-list {
  text-align: center;
}
#introduction .interest-list li {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border-radius: 32px;
  border: 1px solid #364357;
  font-size: 0.9rem;
}

#services {
  background: #2B323E;
}

#service-boxes {
  margin-top: 2rem;
}
#service-boxes .row > * {
  padding: 1rem;
}
#service-boxes .row > * .inner {
  text-align: center;
  padding: 1rem;
  background: #313A4A;
}
#service-boxes .row > * .inner .icon svg {
  height: 72px;
  width: 72px;
  fill: #FFC661;
  margin: 2rem 0;
}

#showcases.on-single-page {
  background: #2B323E;
}
#showcases .showcase-container {
  padding: 1rem;
}
#showcases .showcase-container .showcase {
  overflow: hidden;
  background: #2B323E;
  transition: transform 0.12s ease-in-out;
  cursor: pointer;
  position: relative;
}
#showcases .showcase-container .showcase img {
  width: 100% !important;
  height: auto;
  display: block;
  transition: 0.12s ease-in-out;
}
#showcases .showcase-container .showcase:hover img {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  filter: blur(1rem);
}
#showcases .showcase-container .showcase:hover:after {
  width: 100%;
}
#showcases .showcase-container .showcase:hover .content {
  opacity: 1;
  filter: blur(0);
}
#showcases .showcase-container .showcase:after {
  content: "";
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: -3px;
  height: 3px;
  background: #14d9e3;
  transition: 0.2s ease-in-out;
}
#showcases .showcase-container .showcase .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  opacity: 0;
  filter: blur(1rem);
  transition: 0.12s ease-in-out;
  top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(39, 43, 59, 0.65);
}
#showcases .showcase-container .showcase .content h4 {
  color: #FFF;
  margin-bottom: 1rem;
  flex: 0 0 100%;
  text-align: center;
}
#showcases .showcase-container .showcase .content .tag {
  background: rgba(39, 43, 59, 0.85);
}

.tag {
  display: inline-block;
  margin: 0.25rem;
  padding: 0.1rem 0.75rem;
  background: rgba(13, 13, 29, 0.2);
  border-radius: 24px;
  color: #91A2B1;
  font-size: 0.85rem;
}

#showcase {
  padding-top: 2rem;
  padding-bottom: 5rem;
}
#showcase section .tags {
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 2rem;
}
#showcase section .tags > .tag {
  margin: 0 0.5rem;
}
#showcase section .showcase-content {
  display: grid;
  grid-template-columns: 1fr 1fr min(65ch, 100%) 1fr 1fr;
  font-size: 1.1rem;
  color: #DCE0E6;
}
#showcase section .showcase-content > * {
  grid-column: 3;
}
#showcase section .showcase-content ul {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
}
#showcase section .showcase-content ul li {
  list-style: square;
  display: block;
  margin: 0.5rem 0;
  position: relative;
}
#showcase section .showcase-content ul li:before {
  content: url("/img/caret.png");
  height: 16px;
  width: 16px;
  position: absolute;
  left: -1.6rem;
  top: 2px;
}
#showcase section .showcase-content ol {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
}
#showcase section .showcase-content ol li {
  list-style: decimal;
  margin: 0.5rem 0;
  position: relative;
}
#showcase section .showcase-content .image {
  text-align: center;
  grid-column: 2/5;
  margin: 1.5rem 0 2.5rem;
  position: relative;
}
#showcase section .showcase-content .image.image-style-align-left {
  grid-column: 2/4;
}
#showcase section .showcase-content .image.image-style-align-right {
  grid-column: 3/5;
}
#showcase section .showcase-content .image img {
  width: 100% !important;
  height: auto;
  display: block;
  margin: auto;
}
#showcase section .showcase-content .image figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  background: rgba(34, 40, 49, 0.85);
  color: #DCE0E6;
  padding: 1rem 1rem;
  box-sizing: border-box;
  z-index: 5;
}
#showcase section > * {
  grid-column: 3;
}
#showcase section .full-bleed {
  grid-column: 1/-1;
}

#posts {
  background: #2B323E;
}
#posts.archive {
  background: none;
}
#posts.archive .row a {
  color: #DCE0E6;
  display: block;
  padding: 1rem;
  height: 100%;
}
#posts.archive .row a article {
  height: 100%;
  background: #2B323E;
}
#posts.archive .row a article section,
#posts.archive .row a article footer {
  padding: 1rem;
}
#posts.archive .row a article footer {
  font-size: 0.85rem;
}

.explore-more-link {
  margin: 1rem 0;
}
.explore-more-link .icon svg {
  height: 16px;
  width: 16px;
  margin-left: 0.5rem;
  display: inline-block;
  line-height: 1;
  vertical-align: top;
  margin-top: 5px;
  fill: #14d9e3;
}
.explore-more-link:hover .icon svg {
  fill: #91A2B1;
  transform: translateX(0.5rem);
}

#posts-list a {
  color: #DCE0E6;
  padding: 1rem 2rem 1rem 0rem;
  position: relative;
  display: block;
  border-bottom: 1px solid #515D68;
}
#posts-list a section.read-more-icon {
  position: absolute;
  top: 0.5rem;
  right: 0rem;
  font-size: 1.25rem;
  transition: 0.12s ease-in-out;
}
#posts-list a section.read-more-icon .icon svg {
  fill: #14d9e3;
  height: 16px;
  width: 16px;
}
#posts-list a:hover .read-more-icon {
  right: -0.5rem;
}
#posts-list a:hover header h3 {
  color: #14d9e3;
}
#posts-list a header h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  transition: 0.2s ease-in-out;
}
#posts-list a footer {
  font-size: 0.9rem;
  color: #91A2B1;
}
#posts-list a.active:after {
  content: none;
}
#posts-list a.active header h3 {
  color: #FFC661;
}
#posts-list.medium a header h3 {
  font-size: 1.25rem;
  font-weight: 500;
}

#post {
  padding-bottom: 5rem;
  padding-top: 2rem;
}
#post section .post-content {
  display: grid;
  grid-template-columns: 1fr 1fr min(65ch, 100%) 1fr 1fr;
  font-size: 1.1rem;
  color: #DCE0E6;
}
#post section .post-content > * {
  grid-column: 3;
}
#post section .post-content .image {
  grid-column: 2/5;
  text-align: center;
  margin: 1rem 0 1.5rem;
}
#post section .post-content a {
  text-decoration: underline;
}
#post section .post-content ul {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
}
#post section .post-content ul li {
  list-style: square;
  display: block;
  margin: 0.5rem 0;
  position: relative;
}
#post section .post-content ul li:before {
  content: url("/img/caret.png");
  height: 16px;
  width: 16px;
  position: absolute;
  left: -1.6rem;
  top: 2px;
}
#post section .post-content ol {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
}
#post section .post-content ol li {
  list-style: decimal;
  margin: 0.5rem 0;
  position: relative;
}
#post section > * {
  grid-column: 3;
}
#post section .full-bleed {
  grid-column: 1/-1;
}
#post footer .icon svg {
  height: 20px;
  width: 20px;
  margin-right: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.pagination {
  margin: 0 -1rem;
}
.pagination li {
  display: inline-block;
  margin-right: 1rem;
}
.pagination li > span,
.pagination li a {
  display: block;
  padding: 1rem;
}
.pagination li .icon svg {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  margin-bottom: 3px;
}
.pagination li.prev .icon {
  margin-right: 0.5rem;
}
.pagination li.next .icon {
  margin-left: 0.5rem;
}

#resume .employer {
  margin-bottom: 2rem;
}
#resume .job-title {
  color: #FFC661;
}
#resume .job-description {
  font-size: 0.9rem;
  color: #DCE0E6;
}
#resume .job-timespan {
  color: #91A2B1;
  font-size: 0.85rem;
}

#contact {
  text-align: center;
  background: #273db0;
  padding: 4rem 1rem;
}
#contact h2 {
  margin-bottom: 2rem;
}
#contact a {
  font-size: 1rem;
  color: #DCE0E6;
  display: inline-block;
  vertical-align: middle;
  padding: 0.25rem 1rem;
}
@media screen and (min-width: 992px) {
  #contact a {
    font-size: 1.5rem;
  }
}
#contact a:hover {
  color: #FFC661;
}
#contact .icon {
  display: inline-block;
  margin-top: 5px;
  vertical-align: middle;
  line-height: 1;
}
#contact .icon svg {
  height: 24px;
  width: 24px;
  margin-right: 0.25rem !important;
  fill: #FFC661 !important;
}

code[class*=language-],
pre[class*=language-],
pre[data-language] {
  color: #c5c8c6;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=language-],
pre[data-language],
.ck-editor .ck-content pre[data-language] {
  padding: 1em;
  margin: 0.5em 0 1rem;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*=language-],
pre[class*=language-],
pre[data-language],
.ck-editor .ck-content pre[data-language] {
  background: #1d1f21;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7C7C7C;
}

.token.punctuation {
  color: #c5c8c6;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.keyword,
.token.tag {
  color: #96CBFE;
}

.token.class-name {
  color: #FFFFB6;
  text-decoration: underline;
}

.token.boolean,
.token.constant {
  color: #99CC99;
}

.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.number {
  color: #FF73FD;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #A8FF60;
}

.token.variable {
  color: #C6C5FE;
}

.token.operator {
  color: #EDEDED;
}

.token.entity {
  color: #FFFFB6;
  cursor: help;
}

.token.url {
  color: #96CBFE;
}

.language-css .token.string,
.style .token.string {
  color: #87C38A;
}

.token.atrule,
.token.attr-value {
  color: #F9EE98;
}

.token.function {
  color: #DAD085;
}

.token.regex {
  color: #E9C062;
}

.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
